* {
    margin: 0;
    padding: 0;
}


.ar {
    text-align: right;
}

body {
    background-color: whitesmoke;

}


#d1h1 {
    font-weight: 900;
    color: rgb(46, 109, 180);
    font-weight: bold;
}

/* h1 styling */
.div1 h1 {
    text-align: center;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    width: 50%;
}

.div1 img {


    border-radius: 6%;
    width: 100%;
    height: auto;

}

.div1 {
    text-align: center;
    color: rgb(1, 0, 0);
    background-color: white;
    width: 30%;
    margin-inline-start: 30px;
    border-radius: 5%;
    margin-bottom: 3%;
    display: inline-block;

}


/* buy now button */
.div1 button {
    font-size: x-large;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(239, 186, 51);
    border-style: hidden;
    height: 50%;
    padding: 15px;
    text-align: right;
    margin-right: 2pc;
    float: right;
    border-radius: 7%;
}

/* div 2 */
.div2 {
    margin: 0%;
    text-align: right;
    font-weight: 900;
    color: rgb(46, 109, 180);
    background-color: white;
    border-radius: 8%;
    width: 200;
    margin-bottom: 8%;

}

.div2 img {
    border-radius: 1%;
    border-radius: 2%;
    width: 28%;
    margin-left: 5%;

}